

html,body {
    margin: 0;
    padding: 0
}

html {
    width: 100%;
    height: 100%
}

body {
    font-size: 12px;
    background-color: #fff;
    margin: 0;
    color: #4c4c4c;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none
}

a,input,select {
    font-size: 12px
}

input,button,select,textarea {
    outline: 0;
    font-family: inherit
}

textarea {
    resize: none
}

form,p,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,tr,th,td,input {
    margin: 0;
    padding: 0
}

ul,ol {
    list-style: none;
}

img,table {
    border: 0
}

a {
    color: #00c;
    text-decoration: underline;
    outline: 0;
    cursor: pointer
}


.clearfix {
    zoom:1;}


.hide {
    display: none
}


.ui3-popup .popup_main .title {
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #333;
    height: 32px
}





.clear {
    clear: both;
    height: 0;
    overflow: hidden
}


.info a {
    text-decoration: none
}



.clearfix {
}

.clearfix:before,.clearfix:after {
    display: table;
    content: ""
}

.clearfix:after {
    clear: both
}


.float-l {
    float: left
}

.float-r {
    float: right
}



::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #ccc
}

::-webkit-input-placeholder {
    color: #aaa;
    font-size: 14px
}

::-moz-placeholder {
    color: #aaa;
    font-size: 14px
}

:-ms-input-placeholder {
    color: #aaa;
    font-size: 14px
}

* {
    scrollbar-base-color:#ccc;scrollbar-3dlight-color: #ccc;
    scrollbar-highlight-color:#ccc;scrollbar-track-color:#f1f1f1;scrollbar-arrow-color:#000;scrollbar-shadow-color:#ccc;scrollbar-dark-shadow-color:#ccc}


#app-right-top {
    z-index: 4;
    position: absolute;
    top: 20px;
    right: 10px
}

#tool-container {
    float: right;
    margin-right: 6px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15)
}

#message-center {
    float: right;
    margin-right: 10px;
    position: relative
}

#message-center .message-center-entrance {
    width: 34px;
    height: 34px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    cursor: pointer;
    border-radius: 2px;
    background: url(/Content/image/newtools_9ddbaad.png) no-repeat -114px -165px #fff
}

#message-center .message-reddot {
    position: absolute;
    width: 6px;
    height: 6px;
    right: 5px;
    top: 7px;
    background: #FF0C0C;
    border-radius: 50%;
    display: none
}

#message-center.has-message .message-reddot {
    display: block
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx),(min-resolution:192dpi) {
    #message-center .message-center-entrance {
        background:url(/ssm/static/maptoolbar/Content/image/new_retain_c1648fb.png) no-repeat -37px -84px #fff;
        background-size: 280px auto
    }
}

#message-panel {
    position: absolute;
    top: 49px;
    right: -58px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    display: none;
    line-height: 0
}

#message-panel.message-panel-open {
    display: block
}

#message-panel .close-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    right: 0;
    top: 0;
    background-color: #000;
    opacity: 0
}

#message-panel .login-btn-box {
    position: absolute;
    bottom: 35px;
    width: 100%;
    text-align: center
}

#message-panel .login-btn {
    height: 31px;
    line-height: 32px;
    display: inline-block;
    padding: 0 33px;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    background-color: #2c81ff;
    border: 1px solid #2c81ff;
    font-size: 14px;
    position: relative
}

#message-panel .login-btn.msg-tip-dot::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #FF0C0C;
    border-radius: 50%;
    top: 6px;
    right: 25px
}

#message-panel .login-btn.logined {
    border-color: #eee;
    background-color: #fff;
    color: #2c81ff
}

#message-panel:before {
    content: '';
    position: absolute;
    top: -7px;
    right: 68px;
    width: 0;
    height: 0;
    border-bottom: 7px solid #fff;
    border-top: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent
}

#user-center.ui3-user-center-wrap {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    visibility: hidden;
    position: relative;
    top: -7px;
    float: right
}

#user-center.ui3-user-center-wrap a {
    text-decoration: none
}

#user-center.ui3-user-center-wrap .color-strong {
    color: #333
}

#user-center.ui3-user-center-wrap .color-weak {
    color: #999
}

#user-center.ui3-user-center-wrap .bottom-split {
    border-bottom: 1px solid #e0e0e0
}

#user-center.ui3-user-center-wrap .text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

#user-center.ui3-user-center-wrap .avatar-abstract {
    background-color: #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: opacity .4s linear;
    transition: opacity .4s linear
}


#user-center.ui3-user-center-wrap .info-box {
    background: url(/Content/image/transparent.gif);
    position: absolute;
    display: none;
    top: 35px;
    right: 0;
    width: 300px
}

#user-center.ui3-user-center-wrap .info-box .btn {
    font-size: 14px;
    width: 70px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 2px
}

#user-center.ui3-user-center-wrap .info-box .btn-group {
    position: relative;
    top: 13px;
    left: 11px
}

#user-center.ui3-user-center-wrap .info-box a.login {
    background: #3385ff;
    color: #fff;
    border: 0
}

#user-center.ui3-user-center-wrap .info-box a.regist {
    color: #3385ff
}

#user-center.ui3-user-center-wrap .info-box .list {
    padding: 0 12px
}

#user-center.ui3-user-center-wrap .info-box .list>li {
    height: 40px;
    line-height: 42px;
    border-bottom: 1px dashed #eee;
    position: relative;
    text-indent: 28px;
}

#user-center.ui3-user-center-wrap .info-box .list>li>a {
    display: block;
    width: 100%;
    height: 100%
}

#user-center.ui3-user-center-wrap .info-box .list>li .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/Content/image/usercenter-icons_c1d50cc.png);
    background: -webkit-image-set(url(/Content/image/usercenter-icons_c1d50cc.png) 1x,url(/Content/image/usercenter-icons-2x_2f9c648.png) 2x);
    background: -moz-image-set(url(/Content/image/usercenter-icons_c1d50cc.png) 1x,url(/Content/image/usercenter-icons-2x_2f9c648.png) 2x);
    background: -o-image-set(url(/Content/image/usercenter-icons_c1d50cc.png) 1x,url(/Content/image/usercenter-icons-2x_2f9c648.png) 2x);
    background: -ms-image-set(url(/Content/image/usercenter-icons_c1d50cc.png) 1x,url(/Content/image/usercenter-icons-2x_2f9c648.png) 2x);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 10px
}

#user-center.ui3-user-center-wrap .info-box .list>li .icon.home {
    background-position: 0 0
}

#user-center.ui3-user-center-wrap .info-box .list>li .icon.company {
    background-position: 0 -20px
}

#user-center.ui3-user-center-wrap .info-box .list>li .icon.groupon {
    background-position: 0 -40px
}

#user-center.ui3-user-center-wrap .info-box .list>li .icon.movie {
    background-position: 0 -60px
}

#user-center.ui3-user-center-wrap .info-box .list>li .icon.takeout {
    background-position: 0 -80px
}

#user-center.ui3-user-center-wrap .info-box .list>li .icon.fav {
    background-position: 0 -100px
}

#user-center.ui3-user-center-wrap .info-box .list>li .icon.center {
    background-position: 0 -120px
}

#user-center.ui3-user-center-wrap .info-box .list>li .icon.setting {
    background-position: 0 -140px
}

#user-center.ui3-user-center-wrap .info-box .list>li: last-child {
    border-bottom:0
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box {
    height: 20px;
    position: relative;
    width: 248px;
    top: 12px;
    left: 28px
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .caption,#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .addr,#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .setting {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    text-indent: 0;
    position: relative;
    float: left
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .caption {
    width: 64px;
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .addr {
    width: 114px
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .setting {
    width: 67px;
    text-align: right
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .setting a {
    background: url(/Content/image/user-center-icons_f0eeb8e.png) no-repeat;
    background: -webkit-image-set(url(/Content/image/user-center-icons_f0eeb8e.png) 1x,url(/Content/image/user-center-icons-2x_1d963e9.png) 2x);
    background: -moz-image-set(url(/Content/image/user-center-icons_f0eeb8e.png) 1x,url(/Content/image/user-center-icons-2x_1d963e9.png) 2x);
    background: -o-image-set(url(/Content/image/user-center-icons_f0eeb8e.png) 1x,url(/Content/image/user-center-icons-2x_1d963e9.png) 2x);
    background: -ms-image-set(url(/Content/image/user-center-icons_f0eeb8e.png) 1x,url(/Content/image/user-center-icons-2x_1d963e9.png) 2x);
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: 15px 60px
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .setting a: hover {
    opacity:.6
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .setting .sync {
    background-position: 0 0
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .setting .edit {
    background-position: 0 -45px;
    margin-left: 9px
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .setting .clear {
    background-position: 0 -30px;
    margin-left: 9px
}

#user-center.ui3-user-center-wrap .info-box .list .mylocation-box .setting .set {
    background-position: 0 -15px;
    margin-left: 9px
}

#user-center.ui3-user-center-wrap .info-box .exit {
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding: 0 10px
}

#user-center.ui3-user-center-wrap .info-box .arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 8px;
    border-color: transparent transparent #3385ff;
    top: 17px;
    right: 17px;
    position: absolute
}

#user-center.ui3-user-center-wrap .info-box .left {
    float: left;
    display: inline
}

#user-center.ui3-user-center-wrap .info-box .right {
    float: right;
    display: inline
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box {
    border-radius: 2px;
    background-color: #fff;
    width: 300px;
    position: absolute;
    top: 22px;
    right: 0;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15)
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone {
    width: 100%;
    height: 80px;
    position: relative;
    background: #3385ff
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone .avatar {
    width: 52px;
    height: 52px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone .login-wrapper {
    padding: 14px 12px
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone .not-login-wrapper {
    position: relative;
    width: 100%;
    height: 80px
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone .not-login-wrapper .guide-figure {
    position: absolute;
    left: 12px;
    top: 15px;
    width: 151px;
    height: 50px;
    background: url(/Content/image/user-center-figure_c4a62f6.png) no-repeat;
    background: -webkit-image-set(url(/Content/image/user-center-figure_c4a62f6.png) 1x,url(/Content/image/user-center-figure-2x_d48507b.png) 2x);
    background: -moz-image-set(url(/Content/image/user-center-figure_c4a62f6.png) 1x,url(/Content/image/user-center-figure-2x_d48507b.png) 2x);
    background: -o-image-set(url(/Content/image/user-center-figure_c4a62f6.png) 1x,url(/Content/image/user-center-figure-2x_d48507b.png) 2x);
    background: -ms-image-set(url(/Content/image/user-center-figure_c4a62f6.png) 1x,url(/Content/image/user-center-figure-2x_d48507b.png) 2x)
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone .not-login-wrapper .guide-caption {
    position: absolute;
    width: 64px;
    height: 32px;
    color: #fff;
    font-size: 12px;
    top: 28px;
    right: 66px
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone .not-login-wrapper .guide-login {
    position: absolute;
    display: block;
    width: 48px;
    height: 26px;
    line-height: 26px;
    background: #fff;
    color: #3385ff;
    border-radius: 2px;
    text-decoration: none;
    top: 29px;
    right: 14px;
    font-size: 14px;
    text-align: center
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone .avatar.associate-phone::after {
    content: '';
    width: 11px;
    height: 14px;
    background: url(/Content/image/phone_84f2149.png) no-repeat center center;
    position: absolute;
    right: 0;
    bottom: 0
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone .user-info {
    position: relative;
    width: 214px;
    text-align: left
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone .user-info .username {
    width: 110px;
    font-size: 14px;
    color: #fff
}

#user-center.ui3-user-center-wrap .info-box .detail-info-box .up-zone .user-info .associate-tip {
    margin-top: 6px;
    line-height: 17px;
    color: #fff
}


li   i {
    background-position: -243px -74px
}

li :hover i {
    background-position: -263px -74px
}

li  i {
    background-position: -45px -75px
}

li :hover i {
    background-position: -66px -75px
}

#ui3_control_wrap .left span,#ui3_control_wrap .right span {
    background-image: url(/ssm/static/maptoolbar/Content/image/new_retain_c1648fb.png);
    background-size: 280px 115px;
    background-repeat: no-repeat
}

#ui3_control_wrap .traffic {
    background-position: 12px -23px
}

#ui3_control_wrap .trafficopt:hover .traffic {
    background-position: 12px -55px
}

#ui3_control_wrap .traffic.active {
    background-position: 12px -55px
}

#ui3_control_wrap .boxutils {
    background-position: -32px -22px
}

#ui3_control_wrap .boxopt:hover .boxutils {
    background-position: -32px -58px
}

#ui3_control_wrap .boxutils.active {
    background-position: -32px -58px
}

#ui3_control_wrap .measure {
    background-position: -85px -23px
}

#ui3_control_wrap #boxul .map-measure:hover .measure {
    background-position: -85px -57px
}

#ui3_control_wrap .measure.active {
    background-position: -85px -57px
}

#ui3_control_wrap .mark {
    background-position: -119px -24px
}

#ui3_control_wrap #boxul .map-mark:hover .mark {
    background-position: -120px -58px
}

#ui3_control_wrap .mark.active {
    background-position: -120px -58px
}

#ui3_control_wrap .share {
    background-position: -162px -24px
}

#ui3_control_wrap #boxul .map-share:hover .share {
    background-position: -161px -60px
}

#ui3_control_wrap .share.active {
    background-position: -161px -60px
}


#radar-list-detail .list>li .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url((/ssm/static/maptoolbar/Content/image/usercenter-icons_c1d50cc.png);
    background: -webkit-image-set(url(/Content/image/usercenter-icons_c1d50cc.png) 1x,url(/Content/image/usercenter-icons-2x_2f9c648.png) 2x);
    background: -moz-image-set(url(/Content/image/usercenter-icons_c1d50cc.png) 1x,url(/Content/image/usercenter-icons-2x_2f9c648.png) 2x);
    background: -o-image-set(url(/Content/image/usercenter-icons_c1d50cc.png) 1x,url(/Content/image/usercenter-icons-2x_2f9c648.png) 2x);
    background: -ms-image-set(url(/Content/image/usercenter-icons_c1d50cc.png) 1x,url(/Content/image/usercenter-icons-2x_2f9c648.png) 2x);
    background-repeat: no-repeat;
    /*position: absolute;
    left: 0;
    top: 10px*/
}

#radar-list-detail .list>li .icon.none {
    background-position: 0 20px
}

#radar-list-detail .list>li .icon.default {
    background-position: 0 -100px
}

#radar-list-detail .list>li: last-child {
    border-bottom:0
}


#radar-list-detail .color-weak {
    color: #999;
}

#radar-list-detail .list .mylocation-box .caption,#radar-list-detail .list .mylocation-box .addr,#radar-list-detail .list .mylocation-box .setting {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    text-indent: 0;
    position: relative;
    /*float: left*/
}

#radar-list-detail .list .mylocation-box .caption {
    width: 64px;
}

#radar-list-detail .list .mylocation-box .addr {
    width: 114px
}

#radar-list-detail .list .mylocation-box .setting {
    width: 67px;
    text-align: right
}